<div class="pos-f-t fixed-top header">
<nav class="navbar navbar-inverse fixed-top bg-inverse navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">UQO Annotator</a>
  <a class="nav-item" routerLink="/corpora" routerLinkActive="active">Corpora</a>
  <a class="nav-item" routerLink="/heroes" routerLinkActive="active">Heroes</a>
  <a class="nav-item" routerLink="/admin" routerLinkActive="active">Admin</a>
  <ul class="nav navbar-nav  ml-auto">
    <li>
      <a class="nav-item" routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li>
      <a class="nav-item" [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
    </li>
    <li><a [routerLink]="['/register']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <!-- <li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                       <i class="fa fa-user"></i> John Smith <b class="caret"></b> 
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-user"></i> Profile</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </div>
                </li>-->
  </ul>
</nav>
     
</div>
