<div class="container">

    <div class="row">

        <div class="col-md-9 panel">
            <div class="panel-default">
                <div class="panel-heading">
                    <!--         debut tab            -->
                    <h3 >Sentence | WordToken | LookupWindowAnnotation | ProcedureMention</h3>
                    <!-- Fin             -->
                    
                    <h3 > </h3></div>


                <div class="panel-body">
                    <article>
                        <textarea name="resumeText" class=" form-control custom-control textarea" rows="16" >{{text}}</textarea>

                    </article>


                    <form name="picoCatForm">

                        <div class="form-group">
                            <p name="selectedTextField">
                                <input type="text" name="selectedText" require class="form-control input-lg" style="margin:20px 0 20px 0" id="selectTxt" placeholder="Texte sélectionné:"  >
                            </p>
                        </div>

                        <p class="formValidationError" >Vous devez selectionner un texte</p>

                        <div class="form-inline">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="population" > Population</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="intervention" > Intervention</label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="comparison" > Comparison</label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="outcome" > Outcome</label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="background" > Background</label>
                            </div>

                        </div>


                        <div >

                            <input type="hidden" require id="articleId" >
                        </div>

                        <button type="submit"  class="btn btn-primary" style="margin-top:20px" >Sauvegarder</button>

                    </form>






                </div>

            </div>
        </div>

        <div class="col-md-3 panel">





            

        </div>



    </div>
</div>