
<div class="col-md-6 col-md-offset-3">
  <h3>File list:</h3>
  <div class="row">
    <div class="col-sm-9">
      <div class="row">
        <div class="col-xs-8 col-sm-6">
        <table>
           <tr>
               <th>
                <ul class="heroes">
                  <li (click)="loadAllFilesCorpus(file)" *ngFor="let file of corpus">
                    <a >{{file}}</a>
                  </li>
                </ul>
               </th>
               <td>
                <ul class="heroes">
                  <li *ngFor="let file of files">
                    <a>{{file}}</a>
                  </li>
                </ul>
               </td>
               
           </tr>
        </table>
        </div>
        <div class="col-xs-4 col-sm-6">
          <router-outlet name="files-view"></router-outlet>
        </div>
      </div>
    </div>
  </div>

</div>


